.categories {
  padding: 80px 115px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  @include desktop {
    padding: 40px 72px;
  }

  @include tablet-s {
    padding-inline: 40px;
  }
  &-header__title {
    font-size: 38px;
    line-height: 120%; /* 45.6px */
    text-transform: capitalize;
    @include desktop {
      font-size: 28px;
    }
  }

  &-card {
    &__list {
      display: flex;

      flex-wrap: wrap;
      gap: 30px;
      @include tablet {
        gap: 25px;
      }

      @include tablet-s {
        gap: 20px;
      }
    }

    &__item {
      max-width: 240px;
      width: 100%;

      background-color: var(--color-dark-alt);
      border-radius: var(--border-radius);
      @include desktop {
        max-width: 200px;
        width: 100%;
      }
      @include tablet {
        max-width: 150px;
        width: 100%;
      }
      @include tablet-s {
        max-width: 148px;
        width: 100%;
      }
      &-position {
        position: relative;
        overflow: hidden;
      }
    }
    &__image {
      filter: blur(7.5px);
      @include tablet-s {
        max-width: 150px;
        width: 100%;
      }
    }
    &__icon {
      @include abs-center;
    }

    &__bg {
      padding: 20px 30px 25px;
      @include desktop {
        padding: 20px 20px 25px;
      }

      &-text {
        line-height: 140%; /* 30.8px */
        text-transform: capitalize;
        @include desktop {
          font-size: 16px;
        }
      }
    }
  }
}
