.collection {
  padding: 80px 115px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;

  @include desktop {
    padding: 40px 72px;
    row-gap: 40px;
    justify-content: flex-start;
  }

  @include tablet-s {
    padding-inline: 30px;
  }

  .header {
    @include desktop {
    }
    &__title {
      font-size: 38px;
      text-transform: capitalize;
      margin-bottom: 10px;
      line-height: 120%; /* 45.6px */

      @include desktop {
        font-size: 28px;
      }
    }
    &__descr {
      font-size: 22px;
      font-weight: 400;
      line-height: 160%; /* 35.2px */
      text-transform: capitalize;

      @include desktop {
        font-size: 16px;
      }
    }
  }
  .body {
    &__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      @include desktop {
        justify-content: center;
        gap: 30px;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 15px;
      max-width: 330px;
      width: 100%;

      @include desktop {
        max-width: 315px;
        width: 100%;
      }

      @include tablet-s {
      }
    }
    &__item-top {
      display: flex;
    }
    &__item-midl {
      display: flex;
      justify-content: space-between;
      column-gap: 15px;
    }
  }
  .item-bottom {
    &__title {
      font-size: 22px;
      line-height: 140%; /* 30.8px */
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    &__avatar {
      display: flex;
      column-gap: 12px;
    }

    &__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
    }
  }

  .card-bg {
    padding: 32px 15px;
    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    &__text {
      font-weight: 700;
      line-height: 160%; /* 35.2px */
      text-transform: capitalize;
    }
  }
}
