.creators {
  padding: 80px 115px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  align-items: center;

  @include desktop {
    padding: 40px 72px;
  }
  @include tablet-s {
    padding: 40px 30px;
    row-gap: 40px;
    flex-direction: column;
  }
  &-header {
    margin-bottom: 60px;
    flex-grow: 1;

    @include desktop {
      justify-content: space-between;
      margin-bottom: 40px;
    }

    @include tablet-s {
      margin-bottom: 0;
    }
    &-box {
      max-width: 247px;
      flex-grow: 2;
      @include tablet {
      }
      @include tablet-s {
        order: 3;
      }
    }
    &__button {
      display: inline-flex;
      align-items: center;
      column-gap: 12px;
      padding-inline: 50px;
      height: var(--button-height);
      border: var(--border);
      border-radius: var(--border-radius);
      background-color: transparent;
      color: var(--color-light);
      font-size: 16px;
      line-height: 140%; /* 22.4px */
      text-wrap: nowrap;

      @include tablet-s {
        width: 100%;
        justify-content: center;
      }
    }
    &-content {
      max-width: 700px;
      width: 100%;
      @include tablet {
        max-width: 340px;
        width: 100%;
      }

      @include tablet-s {
        max-width: 315px;
        width: 100%;
      }
    }
    &__title {
      font-size: 38px;
      line-height: 120%; /* 45.6px */
      text-transform: capitalize;
      margin-bottom: 10px;

      @include desktop {
        font-size: 28px;
      }
    }

    &__descr {
      font-size: 22px;
      font-weight: 400;
      line-height: 160%; /* 35.2px */
      text-transform: capitalize;
      @include desktop {
        font-size: 16px;
      }
    }
  }

  &-card {
    flex-grow: 3;
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;

      @include desktop {
        grid-template-columns: repeat(3, 1fr);
      }
      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }
      @include tablet-s {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &__item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      background-color: var(--color-dark-alt);
      border-radius: var(--border-radius);
      &-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      @include tablet {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
      }

      &-avatar {
        margin-bottom: 20px;
        @include tablet {
          max-width: 60px;
          max-height: 60px;
          width: 100%;
          margin-bottom: 0;
        }
      }

      &-name {
        text-align: center;
        font-size: 22px;
        line-height: 140%; /* 30.8px */
        text-transform: capitalize;
        margin-bottom: 5px;
      }

      &-coast {
        display: flex;
        column-gap: 10px;
        color: #858584;
        text-align: right;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
      }

      &-crypt {
        color: var(--color-light);
        font-family: "Space Mono";
        font-size: 16px;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
      }
    }
  }
}
