.header {
  padding: 20px 50px;

  @include tablet {
    padding: 15px 50px;
  }
  @include mobile-s {
    padding: 15px 30px;
  }
  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    column-gap: 12px;
    @include tablet {
      column-gap: 9px;
    }
    &-icon {
      @include tablet {
        max-width: 24px;
        aspect-ratio: 1;
      }
    }

    &-text {
      @include tablet {
        max-width: 150px;
      }
    }
  }
  &__navigation-list {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }

  &__navigation-link {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 46px;
    font-size: 16px;
    cursor: pointer;
    padding-inline: 20px;
    @include hover {
      &::after {
        width: 100%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50%;
      width: 0;
      height: 2px;
      background-color: currentColor;
      transition-duration: inherit;
    }
  }

  &__navigation-button {
    display: flex;

    align-items: center;
    column-gap: 12px;
    padding: 0px 30px;
    color: #fff;
    font-size: 16px;
    background-color: var(--color-accent);
    border: none;
    border-radius: var(--border-radius);
    height: var(--button-height);
  }
}

.burger-button {
  background-color: transparent;
  border: none;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  background-color: var(--color-accent);

  &:modal {
    max-width: 100%;
    max-height: 100%;
  }

  &__close-button-wrapper {
    display: flex;
    justify-content: end;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__link {
    display: inline-flex;
    align-items: center;

    position: relative;
    height: 46px;
    font-size: 16px;
    cursor: pointer;
    padding-inline: 20px;
    @include hover {
      &::after {
        width: 100%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50%;
      width: 0;
      height: 2px;
      background-color: currentColor;
      transition-duration: inherit;
    }
  }
}

.cross-button {
  background-color: transparent;
  border: none;
  position: relative;
  width: 40px;
  aspect-ratio: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 50%;
    width: 50%;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 5px;
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}
