.section-magic {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), var(--color-accent)),
    url(/image/grib.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.magic {
  padding: 360px 115px 60px;
  display: flex;
  align-items: flex-end;

  @include tablet {
    padding-inline: 72px;
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 30px 40px;
    row-gap: 30px;
  }
  &-content {
    max-width: 755px;
    width: 100%;

    @include tablet {
      max-width: 375px;
      width: 100%;
    }

    @include mobile {
      max-width: 315px;
      width: 100%;
    }
    &__avatar {
      max-width: 151px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      column-gap: 12px;
      background-color: var(--color-dark-alt);
      border-radius: var(--border-radius);
      margin-bottom: 30px;

      &-name {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
      }
    }

    &__title {
      font-size: 51px;
      line-height: 110%; /* 56.1px */
      text-transform: capitalize;
      margin-bottom: 30px;
      @include tablet {
        font-size: 38px;
      }
    }

    &__button {
      @include button-transparent;
      background-color: var(--color-light);
      color: var(--color-dark);
      font-size: 16px;
      line-height: 140%; /* 22.4px */
      border: none;
      @include mobile {
        width: 100%;
        justify-content: center;
      }
    }
  }

  &-time {
    padding: 30px;
    background-color: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;

    row-gap: 10px;
    max-width: 295px;
    width: 100%;
    height: 100%;

    &__descr {
      font-family: "Space Mono";
      font-size: 12px;
      font-weight: 400;
      line-height: 110%; /* 13.2px */
    }

    &__list {
      display: flex;
      column-gap: 10px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      &-minuts {
        font-family: "Space Mono";
        font-size: 38px;
        font-weight: 700;
        line-height: 120%; /* 45.6px */
        text-transform: capitalize;
      }

      &-hours {
        font-family: "Space Mono";
        font-size: 12px;
        font-weight: 400;
        line-height: 110%; /* 13.2px */
      }

      &-colon {
        font-family: "Space Mono";
        font-size: 28px;
        font-weight: 700;
        line-height: 140%; /* 39.2px */
        text-transform: capitalize;
      }
    }
  }
}
