$desktop: 1280px;
$tablet: 1024px;
$tablet-above: 1023px;
$tablet-s: 823px;
$mobile: 724px;
$mobile-s: 375px;

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet-s {
  @media (max-width: $tablet-s) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
