@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin button-transparent {
  color: var(--color-light);
  padding-inline: 50px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: transparent;
  display: flex;
  column-gap: 12px;
  align-items: center;
  height: var(--button-height);
  font-size: 16px;
  line-height: 140%; /* 22.4px */
}

@mixin button-accent {
  color: var(--color-light);
  padding-inline: 50px;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--color-accent);
  display: flex;
  column-gap: 12px;
  align-items: center;
  height: var(--button-height);
  font-size: 16px;
  line-height: 140%; /* 22.4px */
}
