@charset "UTF-8";
/**
  Нормализация блочной модели
 */
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
:where(ul[class]) {
  list-style: none;
}

/**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
   */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
    Внешний отступ вниз для параграфа без атрибута class,
    который расположен не последним среди своих соседних элементов
   */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
    Упрощаем работу с изображениями
   */
img {
  display: block;
  max-width: 100%;
}

/**
    Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  height: 100%;
  /**
      Плавный скролл
     */
  scroll-behavior: smooth;
}

body {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  min-height: 100%;
  /**
      Унифицированный интерлиньяж
     */
  line-height: 1.5;
}

/**
    Приводим к единому цвету svg-элементы
   */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
    Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
svg * {
  transition-property: fill, stroke;
}

:root {
  --color-dark: #2b2b2b;
  --color-dark-alt: #3b3b3b;
  --color-gray: #858584;
  --color-light: #ffffff;
  --color-accent: #a259ff;
  --border: 2px solid var(--color-accent, #a259ff);
  --border-radius: 20px;
  --font-family-base: "Wokr Sans", sans-serif;
  --input-height: 46px;
  --input-height-alt: 60px;
  --button-height: 60px;
  --transition-duration: 0.2s;
}

.visually-hiden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 1024px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 1023px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: 22px;
  font-style: normal;
  line-height: 1.28;
  color: var(--color-light);
  background-color: var(--color-dark);
}
body a,
body button,
body input,
body textarea,
body svg * {
  transition-duration: var(--transition-duration);
}
body a {
  text-decoration: none;
  color: inherit;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.header__navigation-list {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.header__navigation-link {
  font-size: 16px;
  cursor: pointer;
}
.header__navigation-button {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 0px 30px;
  color: #fff;
  font-size: 16px;
  background-color: var(--color-accent);
  border: none;
  border-radius: var(--border-radius);
  height: var(--button-height);
}

.hero {
  padding: 80px 115px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}
@media (max-width: 1280px) {
  .hero {
    padding-inline: 72px;
  }
}
@media (max-width: 823px) {
  .hero {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    padding: 40px 30px;
  }
}
@media (max-width: 823px) {
  .hero-top {
    order: 1;
  }
}
.hero__title {
  font-size: 67px;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: left;
  max-width: 505px;
}
@media (max-width: 1280px) {
  .hero__title {
    font-size: 38px;
  }
}
@media (max-width: 823px) {
  .hero__title {
    font-size: 28px;
    margin-bottom: 10px;
  }
}
.hero__descr {
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 30px;
  max-width: 480px;
}
@media (max-width: 1280px) {
  .hero__descr {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (max-width: 823px) {
  .hero-left {
    display: flex;
    flex-direction: column;
  }
}
.hero__button {
  display: flex;
  column-gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  height: var(--button-height);
  color: var(--color-light);
  font-size: 16px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-accent);
  margin-bottom: 20px;
}
@media (max-width: 823px) {
  .hero__button {
    order: 3;
  }
}
.hero__list {
  display: flex;
  column-gap: 30px;
}
@media (max-width: 823px) {
  .hero__list {
    order: 4;
  }
}
.hero__item {
  display: flex;
  flex-direction: column;
}
.hero__item-numb {
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .hero__item-numb {
    font-size: 22px;
  }
}
.hero__item-text {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .hero__item-text {
    font-size: 16px;
  }
}
.hero-right {
  display: flex;
  flex-direction: column;
  max-width: 510px;
}
@media (max-width: 1280px) {
  .hero-right {
    max-width: 330px;
  }
}
@media (max-width: 823px) {
  .hero-right {
    max-width: 315px;
  }
}
.hero__image {
  display: flex;
  max-width: 510px;
}
@media (max-width: 1280px) {
  .hero__image {
    max-width: 330px;
  }
}
@media (max-width: 823px) {
  .hero__image {
    max-width: 315px;
  }
}
.hero__right-image {
  display: flex;
  margin-bottom: 10px;
  font-size: 22px;
  text-transform: capitalize;
}
.hero__right-info {
  padding: 20px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--color-dark-alt);
}
.hero__right-avatar {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.hero__right-text {
  font-size: 16px;
  font-weight: 400;
}

.collection {
  padding: 80px 115px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
@media (max-width: 1280px) {
  .collection {
    padding: 40px 72px;
    row-gap: 40px;
  }
}
@media (max-width: 823px) {
  .collection {
    padding-inline: 30px;
  }
}
.collection .header__title {
  font-size: 38px;
  text-transform: capitalize;
  margin-bottom: 10px;
  line-height: 120%; /* 45.6px */
}
@media (max-width: 1280px) {
  .collection .header__title {
    font-size: 28px;
  }
}
.collection .header__descr {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}
@media (max-width: 1280px) {
  .collection .header__descr {
    font-size: 16px;
  }
}
.collection .body__list {
  display: flex;
  column-gap: 30px;
}
.collection .body__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 1280px) {
  .collection .body__item:last-child {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
@media (max-width: 823px) {
  .collection .body__item:nth-child(2) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.collection .body__item-top {
  display: flex;
}
.collection .body__item-midl {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}
.collection .item-bottom__title {
  font-size: 22px;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
  margin-bottom: 10px;
}
.collection .item-bottom__avatar {
  display: flex;
  column-gap: 12px;
}
.collection .item-bottom__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
.collection .card-bg {
  padding: 32px 15px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
}
.collection .card-bg__text {
  font-weight: 700;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}

.creators {
  padding: 80px 115px;
}
.creators-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.creators-header__title {
  font-size: 38px;
  line-height: 120%; /* 45.6px */
  text-transform: capitalize;
  margin-bottom: 10px;
}
.creators-header__descr {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}
.creators-header__button {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  padding-inline: 50px;
  height: var(--button-height);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--color-light);
  font-size: 16px;
  line-height: 140%; /* 22.4px */
}
.creators-card__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.creators-card__list:last-child {
  margin-bottom: 0px;
}
.creators-card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius);
}
.creators-card__item-avatar {
  margin-bottom: 20px;
}
.creators-card__item-name {
  text-align: center;
  font-size: 22px;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
  margin-bottom: 5px;
}
.creators-card__item-coast {
  display: flex;
  column-gap: 10px;
  color: #858584;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
.creators-card__item-crypt {
  color: var(--color-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.categories {
  padding: 80px 115px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.categories-header__title {
  font-size: 38px;
  line-height: 120%; /* 45.6px */
  text-transform: capitalize;
}
.categories-card {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.categories-card__list {
  display: flex;
  justify-content: space-between;
}
.categories-card__item {
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.categories-card__item-position {
  position: relative;
}
.categories-card__image {
  filter: blur(7.5px);
}
.categories-card__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.categories-card__bg {
  padding: 20px 30px 25px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
